body{
    margin: 0%;
    padding: 0%;
    border-spacing: 0%;
    display: flex;
    overflow-y: hidden; 
}

canvas{
    position: absolute;
}

.name-website{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 3vw;
    margin: 4vh auto 5vh auto;
    letter-spacing: 15px;
    border: 3px solid;
    padding: 1px 80px;
}


#left{
    display: flex;
    width: 55vw;
    height: 100vh;
    border-radius: 0px 120px 120px 0px;
}

#info_emotion{
    display: flex;
    width: 42vw;
    background-color: #5000ca;
    height: 100vh;
}

#video{
    border-radius: 35px;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
}

#wave{
    position: absolute;
    top: 0;
    rotate: 90deg;
}

#part-left{
    color: white;
    border-color: white;
    height: min-content;
}

#result{
    overflow-x: hidden; 
    display: flex;
    height: 60vh;
    width: 25vw;
    position: absolute;
    left: 8.5vw;
    top: 21vh;
}

.emotion{
    position: relative;
    display: flex;
    height: 60vh;
    min-width: 25vw !important;
    transition:0.5s linear all;
}

.images-emotion{
    display: flex;
}

.splash-emotion{
    height: 45vh;
    width: 25vw;
    display: flex;
    justify-content: center;
    position: absolute;
}

.emoji-emotion{
    margin: auto;
    width: 13vw;
    left: 6vw;
    top: 8vh;
    display: flex;
    justify-content: center;
    position: absolute;
}

.texts-emotion{
    display: flex;
    width: 25vw;
    align-items: center;
    justify-content: center;
}

.text-emotion-name{
    text-align: center;
    font-family:monospace;
    position: absolute;
    color: white;
    font-size: 2.5vw;
    font-weight: bolder;
    bottom: 0;
}



/* RIGHT SIDE */

#right{
    width: 40vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



#text{
    display: flex;
}

#part-right{
    color: #5000ca;
    margin-bottom: 8vh;
    border-color: #5000ca;
}
